<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/docs/3.4/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-3.4.0.min.js"></script>

      
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
	    <li role="presentation"><a href="/showAddBlog">Add Blog</a></li>
            <li role="presentation" class="active"><a href="/logout">Logout</a></li>
          </ul>
        </nav>
        <img src="/static/images/Flask_Icon.png" alt="Flask_Icon.png"/ >
      </div>

      <div class="jumbotron">
        <h1>Welcome Home !!</h1>
       
      </div>      

      <footer class="footer">
        <p>©etaman.com 2017</p>
      </footer>

    </div>
  </body>
</html>
